
.rib-request {
    background-color: #FFF;
    padding: 10px;
    border-radius: 0.3rem;
    margin-top: 10px;
}

 .rib-request .rib-request-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #00000022;
}
.rib-request .rib-request-header  .details {
    color: #7800A2;
    font-size: 16px;
    

}

.rib-request .rib-request-header  .details:hover {
    text-decoration: underline;
    cursor: pointer;
}


.seller-docs .docs-header span  {
    margin-right: 20px;
    font-size: 14px;
    color: #010101;
    cursor: pointer;

  }

  .seller-docs .docs-header span.active {
    color: #7800A2;
    font-weight: bold;
    border-bottom: 2px solid #7800A2;
  }


  .seller-docs .content {
    margin-bottom: 20px;
  }
  
  .seller-docs .docs-gallery {
  width: 100%;
  height: 100%;
  border: 0.1px solid #01010111;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  @media screen and (max-width : 600px) {
      border-radius: 0;
   }
}

.seller-docs .docs-gallery .img-doc-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.seller-docs .docs-gallery .img-doc-container img {
  width: 100%;
}

.seller-docs  .button  {
  margin-right: 10px;
}

.seller-docs .button.block  {
  background-color: #EE4563;
}

