
/* --------------------
    trasaction note 
-------------------------------- */

.transaction-note .label {
    font-size: 14px;
    font-weight: bold;
    color: #010101aa;
    margin: 5px 0;
  }
  
  .transaction-note .content {
    padding: 0 20px;
  }
  .transaction-note .button {
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px 30px;
  }
  
  .custom-select {
    width: 300px;
    padding: 5px;
    outline: none;
    border: 1px solid #01010122;
  }

  .custom-select:focus {
    border: 2px solid #3782ec77;
  }

.custom-select optgroup {
  font-weight: bold;
  background-color: #F4F7FA; /* Background color for optgroup */
  color: #010101; /* Text color for optgroup */
}

/* Style the options within optgroups */
.custom-select option {
  background-color: #fff; /* Background color for options */
  color: #010101; /* Text color for options */
  font-size: 14px;
  height: 50px; /* Font size for options */
}

.custom-select option:hover {
  background-color: red;
  color: aquamarine;
}
