.new-user-form  .body{
    padding: 0 10px;
  }

.new-user-form .openConfirmation {
    display: block;
}

.new-user-form .closeConfirmation {
    display: none;
}

  .new-user-form .label {
    font-size: 14px;
    font-weight: bold;
    color: #010101aa;
    margin: 5px 0;
  }

  .new-user-form .input {
    margin-bottom: 10px;
    width: 90%;
    max-width: 400px;
    padding: 10px;
  }

  .new-user-form .button:nth-child(1) {
    padding: 8px 30px;
    margin: 10px;
  }
  .new-user-form .button:nth-child(1):hover {
    opacity: 0.7;
  }
  
.new-admin-card {
    border-radius: 0.3rem;
    padding: 10px;
    box-shadow: #8762d966 0px 2px 8px 0px;
    margin-bottom: 20px;
    background-color: white;
    width: 100%;
  }
  
 .new-admin-card .new-admin-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 0px;
    gap: 10px;
  }

.new-admin-card .new-admin-card-content {
    border-radius: 0.7rem;
    background-color: #f6f6f6;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    line-height: 25px;
  }
  
 .new-admin-card .new-admin-card-content .company-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #151B26;
    min-width: 150px;
    @media screen and (max-width: 767px) {
      font-size: 15px;
    }
  }
  


  
.new-admin-card .new-admin-card-content .delete-admin {
    color: #eb5151;
    font-size: 13px;
    cursor: pointer;
    font-weight: normal;
  }

  .new-admin-card .new-admin-card-content .delete-admin:hover {
    text-decoration: underline;
  }

  