/* ------------------------------------
        header page 
  -------------------------------- */

  .header-page {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .header-page .header-right {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .header-page .header-right .global-call-graph {
    background-color: rgb(48, 154, 240);
    padding: 10px 20px;
    border-radius: 0.8rem;
    color: #FFF;
    font-size: 14px;
  }

  .header-page .header-right .ms-candidates {
    background-color: rgb(240, 48, 109);
    padding: 10px 20px;
    border-radius: 0.8rem;
    color: #FFF;
    font-size: 14px;
  }

  .header-page .header-right .action:hover {
    cursor: pointer;
    opacity: 0.7;
  }