.client-page {
    padding: 10px 50px;
}

.client-page .client-page-content {
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
    padding: 10px 0px;
    gap: 60px;
}

.client-page .client-information {
    width: 400px;
    border: 1px solid #01010111;
    background-color: #FFF;
    padding: 20px;
    padding-bottom: 0;
    margin-top: 70px;
    position: relative;
}


.client-page .client-information .client-information-header {
    border-bottom: 1px solid #01010111;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #010101;
}

.client-page .client-information .block {
    position: absolute;
    bottom: -50px;
    left: 0px;
    background-color: #f17777;
    color: #FFF;
    border-radius: 0.4rem;
    font-size: 16px;
    font-weight: bold ;
    padding: 5px 30px;
    cursor: pointer;
}

.client-page .client-information .block:hover{
    background-color: #FFF;
    color: #f17777;
    border: 1px solid #f17777;
}

.client-page .client-historie {
    flex: 1;
    padding-bottom: 0;
}

@media (max-width :  1199px) {
    .client-page  {
        padding: 30px;
    }
    .client-page .client-page-content {
        gap:  10px;
    }

}

@media (max-width : 780px) {
    .client-page .client-information  {
        margin-top: 0;
    }
    .client-page  {
        padding: 10px;
    }
    .client-page .client-historie {
        min-width: 90%;
    }
}