.invitations-page {
    padding: 40px 40px;
    margin-bottom: 30px;

}

.invitations-page .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.invitations-page .invitation {
    max-width: 900px;
}