


/* ------------------------------------------
        transaction-presentation-card 
   ------------------------------------------ */

.transaction-presentation-card {
  display: flex;
  padding: 20px 20px;
  border-radius: 0.4rem;
  background-color: #fff;
  border: 1px solid #01010111;
  align-items: center;
  width: 280px;
}

.transaction-presentation-card .icon-container {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3782ec11;
  color: #3782ec;
  border-radius: 100%;
  margin-right: 25px;
}

.transaction-presentation-card .information-container .count {
  font-size: 26px;
  font-weight: bold;
  color: #010101;
}

.transaction-presentation-card .information-container .title {
  margin-top: -5px;
  font-size: 16px;
  font-weight: bold;
  color: #010101aa;
}




/* ----------------------------
            Alert
-------------------------------- */
.Alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Alert .icon-container-sucess {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #44e46a22;
  padding: 20px;
  font-size: 30px;
  color: #44e46a;
  border-radius: 100%;
}

.Alert .icon-container-failed {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1777722;
  padding: 20px;
  font-size: 30px;
  color: #f17777;
  border-radius: 100%;
}

.Alert .message {
  font-size: 14px;
  font-weight: bold;

  margin-top: 15px;
}
