.card-information-lign {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

 .card-information-lign .information-title {
    font-size: 11px;
    font-weight: 600;
    margin-right: 30px;
    color: #949898;
    width: 120px;
}

 .card-information-lign > div {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-right: 20px;
}

 .card-information-lign > div .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    font-size: 14px;
    color: #01010122;
    padding: 4px;
    border-radius: 100%;
    /* border: 1px solid #00000022; */
}
.card-information-lign > div span {
    color: #010101;
    font-size: 13px;
    font-weight: bold;
}

.card-information-lign .status-container {
    background-color: rgba(110, 241, 141, 0.22);
    color: rgb(83, 216, 114);
    padding: 5px 10px;
    font-size: 8px;
    font-weight: bold;
    border-radius: 0.5rem;
}

.title-card {
    border-bottom: 1px solid #00000044;
    padding: 10px 20px;
}

 .title-card > div {
    border: 1px solid #00000022;
    padding: 7px 15px;
    font-size: 12px;
    font-weight: bold;
    color: #010101CC;
    border-radius: 0.2rem;
    height: auto;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

 .title-card > div .title-icon-container {
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #01010199;
    margin-right: 10px;
}


.reclamation-card {
    margin: 20px 10px;
    /* border: 1px solid #00000022; */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.4rem;
    padding: 15px 0;
    position: relative;
    flex: 1;
}

.reclamation-card .sender{
    font-size: 14px;
    font-weight: 600;
    color: #010101AA;
}

.reclamation-card .date  {
    font-size: 14px;
    font-weight: 600;
    color: #010101AA;
}

.reclamation-card .reclamation-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    padding-top: 10px;
    border-top: 1px solid #00000022;
    min-width: 300px;
}

.reclamation-card .raison {
    font-size: 16px;
    font-weight: 600;
    color: #010101;
    margin-bottom: 2px;
    padding: 0 15px;
}

.reclamation-card .reclamation-card-descr {
    font-size: 13px;
    font-weight: 600;
    color: #010101AA;
    padding: 0 15px;
    margin-bottom: 15px;
} 

.Seller-buyer-container .content  .details-navigate-icon  {
    position: absolute;
    bottom: 10px;
    right: 12px;
    background-color: #3782ec;
    color: #FFF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 12px;
    cursor: pointer;
}


.reclamation-card .details-navigate-icon   {
    background-color: #3782ec;
    color: #FFF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 10px;
    cursor: pointer;
}


.navBar {
    width: 100%;
    background-color: white;
    padding: 18px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #00000022;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 20;
}

.navBar .navBar-left , .navBar .navBar-right {
    display: Flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.navBar .navBar-left > div {
    background-color: #3782ec;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    color: white;
    font-weight: bold;
    margin-right: 15px;
    font-size: 14px;
}

.navBar .navBar-left  > span  {
    color: #010101;
    font-weight: bold;
    font-size: 18px;
}

.navBar .navBar-right span {
    color: #010101;
    font-weight: bold;
    font-size: 14px;
    margin-right: 7px;
}

.navBar .navBar-right .logOut-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navBar .navBar-mid {
    display: flex;
}


.status .status-container {

    color: #FFF;
    padding: 5px 10px;
    font-size: 8px;
    font-weight: bold;
    border-radius: 0.5rem;
}

.Seller-buyer-container .content  .status-seller-buyer {
    position: absolute;
    top: 20px;
    right: 12px;
    padding: 4px 10px;
}

.address-buyer-and-seller {
    font-size: 12px;
    font-weight: 600;
    color: #010101;
    display: flex;
    align-items: center;
    margin-top: 15px;
}


.address-buyer-and-seller > div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #949898;
}

.address-buyer-and-seller span {
    margin-left: 10px;
}


/* ------------------------------------------
        transaction-presentation-card 
   ------------------------------------------ */

.transaction-presentation-card {
    display: flex;
    padding: 20px 20px;
    border-radius: 0.4rem;
    background-color: #FFF;
    border: 1px solid #01010111 ;
    align-items: center;
    width: 280px;
}

.transaction-presentation-card .icon-container {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3782ec11;
    color: #3782ec;
    border-radius: 100%;
    margin-right: 25px;
}

.transaction-presentation-card .information-container .count {
    font-size: 26px;
    font-weight: bold;
    color: #010101;
}

.transaction-presentation-card .information-container .title {
    margin-top: -5px;
    font-size: 16px;
    font-weight: bold;
    color: #010101AA;
} 


/* ------------------------------------
        header page 
  -------------------------------- */ 

  .header-page {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-page .header-right  {
    display: flex;
    align-items: center;

}

.header-page .header-right .search-icon-container {
    width: 40px;
    height: 40px;
    background-color: #3782ec;
    color: #FFF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.header-page .header-right .search-icon-container:hover{
    cursor: pointer;
    background-color: #FFF;
    border: 2px solid #3782ec;
    color: #3782ec;
}

.header-page .header-right input {
    padding: 12px 7px;
     border: 1px solid #3782ec69; 
    outline: none;
    font-size: 12px;
    border-radius: 0.4rem;
    width: 250px;
    font-weight: bold;
}

.header-page .header-right input::placeholder{
    color: #00000055;
    letter-spacing: 1px;
}

.header-page .header-right input:focus{
    border: 2px solid #3782ec;
    outline: none;
}

.header-page  .title {
    font-size: 26px;
    font-weight: bold;
    color: #010101BB;

}

.header-page .descr {
    font-size: 14px;
    font-weight: bold;
    color: #01010166;
}


/* ---------------------------------------
        Transaction actions 
    -------------------------------------- */

    
.transaction-actions{
    height: max-content;
    width: 150px;
    height: 100vh;
    background-color: #FFF;
    padding: 120px 0;
    position: fixed;
    top: 0px;
    border-right: 1px solid #01010121;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.transaction-actions .action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.transaction-actions .action .action-icon {
    font-size: 22px;
    color: #3782ec;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 0.4rem;
    cursor: pointer;
}

.transaction-actions .action:nth-child(1) .action-icon:hover  {
    color: #EB904F;
    background-color: #EB904F22;
}
.transaction-actions .action:nth-child(2) .action-icon:hover {
    color: #f17777;
    background-color: #E8494922;
}

.transaction-actions .action:nth-child(3) .action-icon:hover  {
    color: #44E46A;
    background-color: #44E46A22;
}

.transaction-actions .action:nth-child(1) .action-icon  {
    color: #EB904F;
    background-color: #FFF;
    border: 1px solid #EB904F;
}
.transaction-actions .action:nth-child(2) .action-icon {
    color: #f17777;
    background-color: #FFF;
    border: 1px solid #f17777;
}
.transaction-actions .action:nth-child(3) .action-icon{
    color: #44E46A;
    background-color: #FFF;
    border: 1px solid #44E46A;
}
.transaction-actions .action .action-title {
    font-size: 12px;
    font-weight: bold;
    color: #010101;
}

/* --------------------
    trasaction note 
-------------------------------- */

.transaction-note .label {
    font-size: 14px;
    font-weight: bold;
    color: #010101AA;
    margin: 5px 0;
}

.transaction-note .content {
    padding: 0 20px;
}
.transaction-note .button {
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px 30px;
}


/* ----------------------------
            Alert
-------------------------------- */
.Alert {
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Alert .icon-container-sucess {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #44E46A22;
    padding: 20px;
    font-size: 30px;
    color: #44E46A;
    border-radius: 100%;
}

.Alert .icon-container-failed {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1777722;
    padding: 20px;
    font-size: 30px;
    color: #f17777;
    border-radius: 100%;
}

.Alert .message {
    font-size: 14px;
    font-weight:bold;

    margin-top: 15px;
}