.transaction-container {
  padding: 40px 40px;
  margin-bottom: 30px;
}

.transaction-container .table {
  margin: auto;
}




.transaction-container .table::-webkit-scrollbar {
  width: 3px; /* Set the width of the scrollbar */
}

.transaction-container .table::-webkit-scrollbar-thumb {
  background: #888; /* Set the color of the thumb */
  border-radius: 6px; /* Add round corners to the thumb */
}

.transaction-container .table::-webkit-scrollbar-thumb:hover {
  background: #555; /* Change color on hover */
}

.transaction-container .table::-webkit-scrollbar-track {
  background: #f1f1f1; /* Set the background color of the track */
}
