/* ----------------------------------------
            Status Compon
    ----------------------------------- */

    .status .status-container {
        color: #fff;
        padding: 5px 15px;
        text-align: center;
        font-size: 12px;
        border-radius: 0.5rem;
      }