<tr>
    <td valign="top" class="bodyContent">
      <h1></h1>
      <p>Welcome <%= @email %>!</p>
    </td>
</tr>

<tr>
    <td valign="top" class="bodyContent">
      <p>You can confirm your account email through the link below:</p>
    </td>
</tr>

<tr>
    <td valign="top" class="bodyContent">
        <a class="button" href="<%= confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %>">Confirm my account</a>
    </td>
</tr>
