

.transaction-close .label {
    font-size: 14px;
    font-weight: bold;
    color: #010101aa;
    margin: 5px 0;
  }
  
  .transaction-close .content {
    padding: 0 20px;
  }
  .transaction-close .button {
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px 30px;
  }

  .transaction-close .closing_accounting{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #01010111;
    padding-bottom: 20px;
  }

  .transaction-close .closing_accounting span {
    width: calc(50% - 10px);
    font-size: 13px;
    font-weight: 600;
    color: #010101aa;
  }

  .transaction-close .error {
    font-size: 13px;
    font-weight: 600;
    color: #E84949;
    margin-left: 20px;
  }
  